 .u-section-1 {
  background-image: linear-gradient(60deg, rgba(204, 211, 219, 1), rgba(133, 142, 153, 1));
}

.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}